body{
background-image: url("bg1.png");
color:white;
}
h1{
   background-color: black;
}
.one{
    background-color: #ced1a9;
}
.two{
    color:black;font-size: 20px;background-color: antiquewhite;
}
